body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.techBody {
  height: 100%;
  /* height: fit-content; */
  /* gap: 5px; */
}

.chairBtn {
  margin: 10px;
  height: 6vh;
}

.detailCard {
  height: 100%;
}
.loginPage {
  height: 90vh;
}
.techChair {
  height: 80vh;
  /* border: 1px solid red; */
}

.techCard {
  height: 100%;
}

.techChairCard {
  height: 100%;
}

.noLine {
  text-decoration: none;
}